<div class="ui horizontal divider"><h3 class="ui huge header">Nominatif Pencairan PULDADIS {% if results|length > 0 %} ({{ results|length }} data) {% endif %}</h3></div>

<script type="application/javascript">
    function viewStatistikPerDesaTriggerClick() {
        $('.large.modal.statistik')
            .modal({
                //blurring: true,
                closable: true,
                onHidden: function () {
                    window.location.href = '{{ url_for('dashboard', random=random) }}?m={{ web_menu['MENU_NOMINATIF_PENCAIRAN_PULDADIS'] }}';
                }
            })
            .modal('show')
        ;
    }
</script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="ui left labeled button">
    <a class="ui basic right pointing label">
        {{ results|count }} Data
    </a>
    <div class="ui button" onclick="viewStatistikPerDesaTriggerClick()">
        <i class="stream icon"></i> Statistik per Desa
    </div>
</div>
<div class="ui divider"></div>
<div class="ui container" style="overflow-x: auto; white-space: nowrap; width: 100%;">
    <table class="ui celled compact definition selectable striped padded small table">
        <thead>
        <tr>
            <th class="center aligned">Nomor Berkas</th>
            <th class="center aligned">Desa</th>
            <th class="center aligned">Kode Desa</th>
            <th class="center aligned">NIB</th>
            <th class="center aligned">Luas</th>
            <th class="center aligned">Diambil<br/>Tanggal</th>
        </tr>
        </thead>
        <tbody>

        {% set result_limited_ = '' %}
        {% if results_limited %}
            {% set results_limited_ = results_limited %}
        {% else %}
            {% set results_limited_ = results %}
        {% endif %}


        {% if results_limited_|length > 0 %}
            {% for result in results_limited_ %}
                <tr>
                    <td class="center aligned"> {{ result.nomor_berkas }} </td>
                    <td class="center aligned"> {{ result.nama_desa }} </td>
                    <td class="center aligned"> {{ result.kode_desa }} </td>
                    <td class="center aligned"> {{ result.nib }} </td>
                    <td class="center aligned"> {{ result.luas }} </td>
                    <td class="center aligned"> {{ result.created_at }} </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="center aligned">
                    <img class="ui centered medium image" src="{{ url_for('static', filename='images/no_data.png') }}">
                    <div class="ui centered compact inverted segment" style="margin: 0;
    position: absolute;
    top:70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)">
                        <p>Tidak ada data nominatif pencairan pengumpulan data</p>
                    </div>
                </td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>

<div class="ui large modal statistik">
    <i class="close icon"></i>
    <div class="header">
        Statistik Nomintatif Pencairan PULDADIS per Desa
    </div>
    <div class="ui content">
        <table class="ui definition table">
            <thead>
            <tr>
                <th>Desa</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% if results_stat_per_desa|length > 0 %}
                {% for result in results_stat_per_desa %}
                    <tr>
                        <td class="two wide">{{ result.nama_desa }}</td>
                        <td>{{ result.count }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ results|length }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Tidak ada data</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>