<script src="{{ url_for('static', filename='js/chartjs.min.js') }}"></script>

<style>
    #a {
        margin: 10px;
        padding: 10px;
        height: 400px;
        border: 1px solid #e4e9ed;
        border-radius: 15px;
    }

    #b {
        margin: 10px;
        padding: 10px;
        height: 400px;
        border: 1px solid #e4e9ed;
        border-radius: 15px;
    }

    #c {
        margin: 10px;
        padding: 10px;
        height: 400px;
        border: 1px solid #e4e9ed;
        border-radius: 15px;
    }

    #d {
        margin: 10px;
        padding: 10px;
        height: 400px;
        border: 1px solid #e4e9ed;
        border-radius: 15px;
    }

    #e {
        margin: 10px;
        padding: 10px;
        height: 400px;
        border: 1px solid #e4e9ed;
        border-radius: 15px;
    }

    #f {
        margin: 10px;
        padding: 10px;
        height: 400px;
        border: 1px solid #e4e9ed;
        border-radius: 15px;
    }
</style>

<div class="ui padded grid">
    <div class="row">
        <h2 class="ui huge dividing header"> PTSL</h2>
    </div>
    <div class="center aligned row">
        <div class="eight wide mobile eight wide tablet eight wide computer column">
            <span class="ui grey label">Tunggakan Permohonan per Jabatan s.d. {{ get_current_date(False) }}</span>
            <canvas id="b" style="max-height: 400px; height: 400px;"></canvas>
            <div class="ui form">
                <div class="inline field">
                    <label>Filter Series Berdasarkan:</label>
                    <select id="filter_tunggakan_berdasarkan_jabatan" name="filter_tunggakan_berdasarkan_jabatan"
                            class="ui search dropdown fluid filter_tunggakan_berdasarkan_jabatan"
                            onchange="if(chartB !== null) {chartB.destroy();} this.options[this.selectedIndex].value && getFilterRenderGrafikTunggakanBerdasarkanJabatan(this.options[this.selectedIndex].value);">
                        {% if results_distinct_jabatan|length > 0 %}
                        {% for result in results_distinct_jabatan %}
                        <option value="{{ result.jabatan }}">{{ result.jabatan }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
        <div class="eight wide mobile eight wide tablet eight wide computer column">
            <span class="ui grey label">Tunggakan Permohonan per Layanan s.d. {{ get_current_date(False) }}</span>
            <canvas id="c" style="max-height: 400px; height: 400px;"></canvas>
            <div class="ui form">
                <div class="inline field">
                    <label>Filter Series Berdasarkan:</label>
                    <select id="filter_tunggakan_berdasarkan_layanan" name="filter_tunggakan_berdasarkan_layanan"
                            class="ui search dropdown fluid filter_tunggakan_berdasarkan_layanan"
                            onchange="if(chartC !== null) {chartC.destroy();} this.options[this.selectedIndex].value && getFilterRenderGrafikTunggakanBerdasarkanLayanan(this.options[this.selectedIndex].value);">
                        {% if results_distinct_layanan|length > 0 %}
                        {% for result in results_distinct_layanan %}
                        <option value="{{ result.layanan }}">{{ result.layanan }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="center aligned row">
        <div class="eight wide mobile eight wide tablet eight wide computer column">
            <span class="ui grey label">Daftar Tunggakan Diterima Dimuka Tahun 2015 s.d 2020</span>
            <canvas id="d" style="max-height: 400px; height: 400px;"></canvas>
        </div>
        <div class="eight wide mobile eight wide tablet eight wide computer column">
            <span class="ui grey label">Daftar Tunggakan Diterima Dimuka Tahun 2021 s.d Sekarang</span>
            <canvas id="e" style="max-height: 400px; height: 400px;"></canvas>
        </div>
    </div>
    <div class="center aligned row">
        <div class="eight wide mobile eight wide tablet eight wide computer column">
            <span class="ui grey label">Jenis Permohonan s.d. {{ get_current_date(False) }}</span>
            <canvas id="a" style="max-height: 400px; height: 400px;"></canvas>
        </div>
    </div>
</div>
<script>
    var chartC;

    function getFilterRenderGrafikTunggakanBerdasarkanLayanan(query) {
        $.getJSON("{{ url_for('tunggakan_berkas_pnbp_per_layanan', random=random) }}?q=" + query, function (data) {
            var layanan = [];
            var jumlah_berkas = [];
            var sesuai_durasi = [];
            var hampir_jatuh_tempo = [];
            var sudah_jatuh_tempo = [];
            var created_at = [];

            $.each(data, function (key, val) {
                layanan.push(val['layanan']);
                jumlah_berkas.push(val['jumlah_berkas']);
                sesuai_durasi.push(val['sesuai_durasi']);
                hampir_jatuh_tempo.push(val['hampir_jatuh_tempo']);
                sudah_jatuh_tempo.push(val['sudah_jatuh_tempo']);
                created_at.push(val['created_at']);
            });

            const config = {
                    type: 'line',
                    data: {
                        labels: created_at,
                        datasets: [{
                            label: 'Jumlah Berkas',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(67, 155, 214)',
                            data: jumlah_berkas
                        }, {
                            label: 'Sesuai Durasi',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(35, 203, 167)',
                            data: sesuai_durasi
                        }, {
                            label: 'Hampir Jatuh Tempo',
                            backgroundColor: 'rgb(244, 179, 80)',
                            borderColor: 'rgb(230, 126, 34)',
                            data: hampir_jatuh_tempo
                        }, {
                            label: 'Sudah Jatuh Tempo',
                            backgroundColor: 'rgb(226, 106, 106)',
                            borderColor: 'rgb(192, 57, 43)',
                            data: sudah_jatuh_tempo
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animations: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        hoverRadius: 12,
                        hoverBackgroundColor: 'black',
                        interaction: {
                            mode: 'nearest',
                            intersect: false,
                            axis: 'x'
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Tanggal'
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Jumlah Permohonan'
                                },
                                ticks: {
                                    stepSize: 1,
                                    beginAtZero: true,
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 12,
                                        family: "Baloo Tamma 2, cursive"
                                    }
                                }
                            }
                        }
                    }
                }
            ;
            chartC = new Chart(
                document.getElementById('c'),
                config
            );
        });
    }

    var chartB;

    function getFilterRenderGrafikTunggakanBerdasarkanJabatan(query) {
        $.getJSON("{{ url_for('tunggakan_berkas_pnbp_per_jabatan', random=random) }}?q=" + query, function (data) {
            var jabatan = [];
            var jumlah_berkas = [];
            var sesuai_durasi = [];
            var hampir_jatuh_tempo = [];
            var sudah_jatuh_tempo = [];
            var created_at = [];

            $.each(data, function (key, val) {
                jabatan.push(val['jabatan']);
                jumlah_berkas.push(val['jumlah_berkas']);
                sesuai_durasi.push(val['sesuai_durasi']);
                hampir_jatuh_tempo.push(val['hampir_jatuh_tempo']);
                sudah_jatuh_tempo.push(val['sudah_jatuh_tempo']);
                created_at.push(val['created_at']);
            });

            const config = {
                    type: 'line',
                    data: {
                        labels: created_at,
                        datasets: [{
                            label: 'Jumlah Berkas',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(67, 155, 214)',
                            data: jumlah_berkas
                        }, {
                            label: 'Sesuai Durasi',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(35, 203, 167)',
                            data: sesuai_durasi
                        }, {
                            label: 'Hampir Jatuh Tempo',
                            backgroundColor: 'rgb(244, 179, 80)',
                            borderColor: 'rgb(230, 126, 34)',
                            data: hampir_jatuh_tempo
                        }, {
                            label: 'Sudah Jatuh Tempo',
                            backgroundColor: 'rgb(226, 106, 106)',
                            borderColor: 'rgb(192, 57, 43)',
                            data: sudah_jatuh_tempo
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animations: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        hoverRadius: 12,
                        hoverBackgroundColor: 'black',
                        interaction: {
                            mode: 'nearest',
                            intersect: false,
                            axis: 'x'
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Tanggal'
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Jumlah Permohonan'
                                },
                                ticks: {
                                    stepSize: 1,
                                    beginAtZero: true,
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 12,
                                        family: "Baloo Tamma 2, cursive"
                                    }
                                }
                            }
                        }
                    }
                }
            ;
            chartB = new Chart(
                document.getElementById('b'),
                config
            );
        });
    }

    $(document).ready(function () {

        $(".ui.dropdown.filter_tunggakan_berdasarkan_jabatan")
            .dropdown()
        ;

        $(".ui.dropdown.filter_tunggakan_berdasarkan_layanan")
            .dropdown()
        ;

        $.getJSON("{{ url_for('total_berkas_pnbp', random=random) }}", function (data) {
            var labels = [];
            var data_ = [];

            $.each(data, function (key, val) {
                labels.push(val['nama_kegiatan']);
                data_.push(val['jumlah']);
            });

            const config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Jenis Permohonan',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(67, 155, 214)',
                            data: data_
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animations: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        hoverRadius: 12,
                        hoverBackgroundColor: 'black',
                        interaction: {
                            mode: 'nearest',
                            intersect: false,
                            axis: 'x'
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Jenis Permohonan'
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Jumlah Permohonan'
                                },
                                ticks: {
                                    stepSize: 1,
                                    beginAtZero: true,
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 12,
                                        family: "Baloo Tamma 2, cursive"
                                    }
                                }
                            }
                        }
                    }
                }
            ;
            var chartA = new Chart(
                document.getElementById('a'),
                config
            );
        });

        $.getJSON("{{ url_for('tunggakan_penerimaan_dimuka_per_tahun', random=random) }}", function (data) {
            var labels = [];
            var data_ = [];

            $.each(data, function (key, val) {
                labels.push(val['tahun']);
                data_.push(val['jumlah_tunggakan']);
            });

            const config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Jumlah Tunggakan',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(67, 155, 214)',
                            data: data_
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animations: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        hoverRadius: 12,
                        hoverBackgroundColor: 'black',
                        interaction: {
                            mode: 'nearest',
                            intersect: false,
                            axis: 'x'
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Tahun'
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Jumlah Tunggakan'
                                },
                                ticks: {
                                    stepSize: 1,
                                    beginAtZero: true,
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 12,
                                        family: "Baloo Tamma 2, cursive"
                                    }
                                }
                            }
                        }
                    }
                }
            ;
            var chartD = new Chart(
                document.getElementById('d'),
                config
            );
        });

        $.getJSON("{{ url_for('tunggakan_penerimaan_dimuka_per_bulan', random=random) }}", function (data) {
            var labels = [];
            var data_ = [];

            $.each(data, function (key, val) {
                labels.push(val['bulan'] + ' ' + val['tahun']);
                data_.push(val['jumlah_tunggakan']);
            });

            const config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Jumlah Tunggakan',
                            backgroundColor: 'rgb(150, 199, 232)',
                            borderColor: 'rgb(67, 155, 214)',
                            data: data_
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animations: {
                            radius: {
                                duration: 400,
                                easing: 'linear',
                                loop: (context) => context.active
                            }
                        },
                        hoverRadius: 12,
                        hoverBackgroundColor: 'black',
                        interaction: {
                            mode: 'nearest',
                            intersect: false,
                            axis: 'x'
                        },
                        responsive: true,
                        scales: {
                            x: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Bulan Tahun'
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            },
                            y: {
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Jumlah Tunggakan'
                                },
                                ticks: {
                                    stepSize: 1,
                                    beginAtZero: true,
                                },
                                font: {
                                    family: 'Baloo Tamma 2, cursive',
                                    size: 4,
                                    style: 'normal',
                                    lineHeight: 1.2
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 12,
                                        family: "Baloo Tamma 2, cursive"
                                    }
                                }
                            }
                        }
                    }
                }
            ;
            var chartE = new Chart(
                document.getElementById('e'),
                config
            );
        });

        getFilterRenderGrafikTunggakanBerdasarkanJabatan('Kepala Kantor Pertanahan');
        getFilterRenderGrafikTunggakanBerdasarkanLayanan('Blokir')
    });
</script>