<div class="ui horizontal divider">
    <h3 class="ui huge header">Potensi Pencairan Keuangan Kegiatan PNBP </h3>
</div>

<div class="ui container" style="width: 100%;">

    <div class="ui form">
        <div class="inline fields">
            <div class="four wide field">
                <label>Tahun Berkas</label>
            </div>
            <div class="twelve wide field">
                <select id="filter_tahun_berkas" name="filter_tahun_berkas" class="ui search dropdown fluid filter_tahun_berkas"
                    onchange="this.options[this.selectedIndex].value && (getDataPNBP(this.options[this.selectedIndex].value));">
                    {% if results_tahun_berkas|length > 0 %}
                    {% for result in results_tahun_berkas %}
                    <option value="{{ result.tahun_berkas }}">{{ result.tahun_berkas }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
    </div>

    <div class="container" id="view_data_pnbp"></div>
    
</div>

<script>

$(document).ready(function () {
    $(".ui.dropdown.filter_tahun_berkas").dropdown();
    getDataPNBP('2022');
})

</script>

<script type="text/javascript">
    function getDataPNBP(tahun) {
        $.ajax({
            url: "{{ url_for('view_pnbp_per_tahun', random=random) }}?tahun=" + tahun,
            type: "GET",
            cache: false,
            beforeSend: function () {
                $("#view_data_pnbp").empty();
                $("#view_data_pnbp").html("<div class=\"ui basic segment\" style='margin:350px auto;'>\n" +
                    "  <div class=\"ui active inverted dimmer\">\n" +
                    "    <div class=\"ui text medium centered inline loader\">Loading...</div>\n" +
                    "  </div>\n" +
                    "  <p></p>\n" +
                    "</div>");
                // $("#loader").appendTo("#view_data_pnbp");

            },
            success: function (data) {
                $("#view_data_pnbp").empty();
                $("#view_data_pnbp").html(data);
            }
        });
    }
</script>