<div class="ui horizontal divider">
    <h3 class="ui huge header">Dashboard Keuangan</h3>
</div>

<h4 class="ui header">Pemasukan Negara per Jenis Permohonan {% if results_permohonan_per_layanan|length > 0 %} ({{
    results_permohonan_per_layanan|length }} data)
    {% endif %}</h4>
<table class="ui celled compact selectable striped padded table">
    <thead>
        <tr>
            <th class="center aligned">Nama Layanan</th>
            <th class="center aligned">Total</th>
        </tr>
    </thead>
    <tbody>

        {% if results_permohonan_per_layanan|length > 0 %}
        {% for result in results_permohonan_per_layanan %}
        <tr>
            <td class="left aligned"> {{ result.nama_prosedur }}</td>
            <td class="right aligned"> {{ formatrupiah(result.total|int) }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="2" class="center aligned">
                <img class="ui centered medium image" src="{{ url_for('static', filename='images/no_data.png') }}">
                <div class="ui centered compact inverted segment" style="margin: 0;
    position: absolute;
    top:70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)">
                    <p>Tidak ada Jenis Layanan</p>
                </div>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div class="ui raised center aligned segment" style="border-radius: 20px;">
    <div class="ui statistics">
        <div class="ui orange statistic">
            <div class="value">
                {{ "{:,.0f}".format(results_total_berkas.total) }}
            </div>
            <div class="label">
                Berkas
            </div>
        </div>
        <div class="ui horizontal teal statistic">
            <div class="value">
                {{formatrupiah(results_total_potensi_pencairan.total|int)}}
            </div>
            <div class="label">
                Potensi Pencairan
            </div>
        </div>
    </div>

</div>